@model IEnumerable<Receivables.Models.AccountModel>

<div id="searchresults">
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.AgreementName</li>
        }
    </ul>
</div>
