@model IEnumerable<Receivables.Models.AccountModel>

<div id="searchresults">

    <ul>
        <li>
            @Model.First().AgreementName
            <div class="table-responsive" style="padding-top:2%">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Документ</th>
                            <th scope="col">Приход</th>
                            <th scope="col">Расход</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.StoreName
                                </td>
                                <td>
                                    @if (item.Sum > 0)
                                    {
                                        @item.Sum
                                    }
                                </td>
                                <td>
                                    @if (item.Sum < 0)
                                    {
                                        @(-item.Sum)
                                    }
                                </td>
                            </tr>

                        }
                        <tr>
                            <td>
                                <h3>Итого</h3> 
                            </td>
                            <td>
                               0
                            </td>
                            <td>
                               0
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>



</div>
