@{
    ViewBag.Title = "Main page";
}

@section Header{
    <!-- Header -->
    <div class="header py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center center-heading">
        <h2 class="subheading-text-style">We are here to help!</h2>
        <h1 class="heading-text-style">
            <span>Experience</span> . <span>Innovation</span> . <span>Excellence</span>
        </h1>
    </div>
}