@{
    ViewBag.Title = "Main page";
}


<div class="section-container">
    <div class="col-md-10 col-md-offset-1">
        <div class="text-slider animated " data-animation="fadeInRight" data-animation-delay="800">
            <h1 class="text-white nomargin">Godel Benefit</h1>
        </div>
        <p class="lead text-white nobottompadding animated " data-animation="fadeInRight" data-animation-delay="1100">You can win the journey of your dreams</p>
    </div>
</div>