@{
    ViewBag.Title = "Main page";
}


@section Header{
    <div class="col-md-12 text-center center-heading">
        <h2 class="subheading">We are here to help!</h2>
        <h1 class="heading">
            <span>Experience</span> . <span>Innovation</span> . <span>Excellence</span>
        </h1>
    </div>
}