
@{
    ViewBag.Title = "Error";
}

<div class="bt-section">
    <section class="section fullscreen-element">
        <div class="overlay">
            <div class="overlay-wrapper">
                <div class="overlay-inner cover-background" style="background-image: url(../../../Content/img/Error.jpg);"></div>
                <div class="overlay-inner gradient-1 opacity-90"></div>
            </div>
        </div>
    </section>
</div>

