@model Receivables.Models.LoginModel

@{
    ViewBag.Title = "Login Page";
}


    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card card-register">
                    <h3 class="title mx-auto">Welcome</h3>
                    <form class="register-form">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                        <button class="btn btn-danger btn-block btn-round">Register</button>
                    </form>
                    <div class="forgot">
                        <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




